data/gooddata/BroadcastEventList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="URN:SmartmailPRO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BroadcastEventList" type="urn:BroadcastEventListType" xmlns:urn="URN:SmartmailPRO"/>
  <xs:complexType name="BroadcastEventType">
    <xs:sequence>
      <xs:element name="EventTimeUtc">
        <xs:simpleType>
          <xs:restriction base="xs:dateTime">
            <xs:enumeration value="2013-12-04T06:26:18.643"/>
            <xs:enumeration value="2013-12-04T06:26:24.517"/>
            <xs:enumeration value="2013-12-04T06:26:25.077"/>
            <xs:enumeration value="2013-12-04T06:26:29.79"/>
            <xs:enumeration value="2013-12-04T06:26:32.207"/>
            <xs:enumeration value="2013-12-04T06:26:32.597"/>
            <xs:enumeration value="2013-12-04T06:26:33.377"/>
            <xs:enumeration value="2013-12-04T06:26:38.62"/>
            <xs:enumeration value="2013-12-04T06:26:41.35"/>
            <xs:enumeration value="2013-12-04T06:26:41.863"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="EventType">
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:enumeration value="21"/>
            <xs:enumeration value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:int" name="BroadcastId"/>
      <xs:element name="SubscriberId">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:enumeration value="81590048"/>
            <xs:enumeration value="81588487"/>
            <xs:enumeration value="81588435"/>
            <xs:enumeration value="81584793"/>
            <xs:enumeration value="81587140"/>
            <xs:enumeration value="81591016"/>
            <xs:enumeration value="81587555"/>
            <xs:enumeration value="81584584"/>
            <xs:enumeration value="81585693"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="EmailAddress">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="inquiry@yunyan.hk"/>
            <xs:enumeration value="annett_koeman@hotmail.com"/>
            <xs:enumeration value="skmhau@gmail.com"/>
            <xs:enumeration value="lllim918@hotmail.com"/>
            <xs:enumeration value="carmen.cheng@mayerbrownjsm.com"/>
            <xs:enumeration value="ajagon@hotmail.com"/>
            <xs:enumeration value="jove.c.lam@citi.com"/>
            <xs:enumeration value="lee.wainwright@bt.com"/>
            <xs:enumeration value="ckchan75@yahoo.com"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="SubscriberKey" nillable="true"/>
      <xs:element name="OpenTimeUtc" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
            <xs:enumeration value="2013-12-04T06:26:24.517"/>
            <xs:enumeration value="2013-12-04T06:26:29.79"/>
            <xs:enumeration value="2013-12-04T06:26:32.207"/>
            <xs:enumeration value="2013-12-04T06:26:32.597"/>
            <xs:enumeration value="2013-12-04T06:26:33.377"/>
            <xs:enumeration value="2013-12-04T06:26:38.62"/>
            <xs:enumeration value="2013-12-04T06:26:41.35"/>
            <xs:enumeration value="2013-12-04T06:26:41.863"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OpenIPAddress" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
            <xs:enumeration value="202.140.108.62"/>
            <xs:enumeration value="203.198.147.226"/>
            <xs:enumeration value="10.129.170.51, "/>
            <xs:enumeration value="42.2.211.246"/>
            <xs:enumeration value="192.193.132.8"/>
            <xs:enumeration value="202.126.163.137"/>
            <xs:enumeration value="14.0.143.19"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OpenUserAgent" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
            <xs:enumeration value="Mozilla/5.0 (iPhone; CPU iPhone OS 7_0_4 like Mac OS X) AppleWebKit/537.51.1 (KHTML, like Gecko) Mobile/11B554a"/>
            <xs:enumeration value="Mozilla/5.0 (iPhone; CPU iPhone OS 6_1_3 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) Mobile/10B329"/>
            <xs:enumeration value="Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 6.1; WOW64; Trident/5.0; SLCC2; .NET CLR 2.0.50727; .NET4.0C; .NET4.0E; .NET CLR 3.5.30729; .NET CLR 3.0.30729; MSOffice 12)"/>
            <xs:enumeration value="Mozilla/5.0 (iPad; CPU OS 7_0_4 like Mac OS X) AppleWebKit/537.51.1 (KHTML, like Gecko) Mobile/11B554a"/>
            <xs:enumeration value="Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 6.1; WOW64; Trident/4.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0; .NET4.0C; .NET4.0E; InfoPath.3; MS-RTC LM 8; Microsoft Outlook 14.0.7105; ms-office; MSOffice 14)"/>
            <xs:enumeration value="Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 6.1; Trident/4.0; NGD_build; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0; .NET4.0C; .NET4.0E; InfoPath.3; MS-RTC LM 8; Microsoft Outlook 14.0.6131; ms-office; MSOffice 14)"/>
            <xs:enumeration value="Mozilla/5.0 (Linux; U; Android 4.1.2; en-ca; GT-N7105 Build/JZO54K) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Mobile Safari/534.30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="LinkClickTimeUtc" nillable="true"/>
      <xs:element type="xs:string" name="LinkClickIPAddress" nillable="true"/>
      <xs:element type="xs:string" name="LinkClickUserAgent" nillable="true"/>
      <xs:element type="xs:string" name="LinkName" nillable="true"/>
      <xs:element type="xs:string" name="LinkUrl" nillable="true"/>
      <xs:element type="xs:string" name="DynamicContentId" nillable="true"/>
      <xs:element type="xs:string" name="DynamicContentName" nillable="true"/>
      <xs:element name="AppClickTimeUtc">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2013-12-04T06:26:18.643"/>
            <xs:enumeration value=""/>
            <xs:enumeration value="2013-12-04T06:26:25.077"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="AppClickIPAddress">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="202.181.235.71"/>
            <xs:enumeration value=""/>
            <xs:enumeration value="103.17.72.110"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="AppClickUserAgent">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; WOW64; Trident/5.0)"/>
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="AppClickType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="9"/>
            <xs:enumeration value=""/>
            <xs:enumeration value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="AppClickDescription">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="webversion"/>
            <xs:enumeration value=""/>
            <xs:enumeration value="landingpage"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="SoftBounceTimeUtc" nillable="true"/>
      <xs:element type="xs:string" name="SoftBounceMsg" nillable="true"/>
      <xs:element type="xs:string" name="HardBounceTimeUtc" nillable="true"/>
      <xs:element type="xs:string" name="HardBounceClass" nillable="true"/>
      <xs:element type="xs:string" name="HardBounceMsg" nillable="true"/>
      <xs:element type="xs:string" name="ListUnsubscribeDateUtc" nillable="true"/>
      <xs:element type="xs:string" name="ListUnsubscribeReason" nillable="true"/>
      <xs:element type="xs:string" name="AccountUnsubscribeDateUtc" nillable="true"/>
      <xs:element type="xs:string" name="AccountUnsubscribeReason" nillable="true"/>
      <xs:element type="xs:string" name="FBLUnsubscribeDateUtc" nillable="true"/>
      <xs:element type="xs:string" name="FBLUnsubscribeReason" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BroadcastEventListType">
    <xs:sequence>
      <xs:element type="urn:BroadcastEventType" name="BroadcastEvent" maxOccurs="unbounded" minOccurs="0" xmlns:urn="URN:SmartmailPRO"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>