data/gooddata/SubscriberList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="URN:SmartmailPRO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SubscriberList" type="urn:SubscriberListType" xmlns:urn="URN:SmartmailPRO"/>
  <xs:complexType name="FieldType">
    <xs:sequence>
      <xs:element type="xs:string" name="Key"/>
      <xs:element type="xs:string" name="Val"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProfileFieldsType">
    <xs:sequence>
      <xs:element type="urn:FieldType" name="Field" maxOccurs="unbounded" minOccurs="0" xmlns:urn="URN:SmartmailPRO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriberType">
    <xs:sequence>
      <xs:element type="xs:dateTime" name="BounceTimestamp"/>
      <xs:element type="xs:int" name="BroadcastStatus"/>
      <xs:element type="xs:dateTime" name="BroadcastTimestamp"/>
      <xs:element type="xs:dateTime" name="CreatedDate"/>
      <xs:element type="xs:string" name="EmailAddress"/>
      <xs:element type="xs:string" name="EmailTextOnly"/>
      <xs:element type="xs:string" name="FirstName"/>
      <xs:element type="xs:string" name="LastName"/>
      <xs:element type="xs:int" name="ListId"/>
      <xs:element type="urn:ProfileFieldsType" name="ProfileFields" xmlns:urn="URN:SmartmailPRO"/>
      <xs:element type="xs:string" name="SmsAddress"/>
      <xs:element type="xs:string" name="SmsTextOnly"/>
      <xs:element type="xs:int" name="Status"/>
      <xs:element type="xs:long" name="SubscriberId"/>
      <xs:element type="xs:string" name="SubscriberKey"/>
      <xs:element type="xs:string" name="UnsubscribeReason"/>
      <xs:element type="xs:dateTime" name="UnsubscribedDate"/>
      <xs:element type="xs:short" name="BounceClass"/>
      <xs:element type="xs:string" name="Deleted"/>
      <xs:element type="xs:dateTime" name="LastModifiedDate"/>
      <xs:element type="xs:string" name="EmailPermission"/>
      <xs:element type="xs:string" name="SmsPermission"/>
      <xs:element type="xs:int" name="Version"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriberListType">
    <xs:sequence>
      <xs:element type="urn:SubscriberType" name="Subscriber" maxOccurs="unbounded" minOccurs="0" xmlns:urn="URN:SmartmailPRO"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>